//! **************************************************************************
// Written by: Map I.24 on Tue Mar 06 10:12:03 2007
//! **************************************************************************

SCHEMATIC START;
COMP "RS232_CTS" LOCATE = SITE "D1" LEVEL 1;
COMP "VGA_GREEN<0>" LOCATE = SITE "A8" LEVEL 1;
COMP "VGA_GREEN<1>" LOCATE = SITE "A5" LEVEL 1;
COMP "VGA_GREEN<2>" LOCATE = SITE "C3" LEVEL 1;
COMP "RS232_RXD" LOCATE = SITE "G5" LEVEL 1;
COMP "RS232_RTS" LOCATE = SITE "F4" LEVEL 1;
COMP "RS232_TXD" LOCATE = SITE "J2" LEVEL 1;
COMP "ethernet_cs_n" LOCATE = SITE "G13" LEVEL 1;
COMP "CLK100" LOCATE = SITE "T9" LEVEL 1;
COMP "SW2_N" LOCATE = SITE "E11" LEVEL 1;
COMP "VGA_VSYNC_N" LOCATE = SITE "D8" LEVEL 1;
COMP "VGA_RED<0>" LOCATE = SITE "C8" LEVEL 1;
COMP "VGA_RED<1>" LOCATE = SITE "D6" LEVEL 1;
COMP "VGA_RED<2>" LOCATE = SITE "B1" LEVEL 1;
COMP "STATUS_LED<0>" LOCATE = SITE "M6" LEVEL 1;
COMP "STATUS_LED<1>" LOCATE = SITE "M11" LEVEL 1;
COMP "STATUS_LED<2>" LOCATE = SITE "N6" LEVEL 1;
COMP "STATUS_LED<3>" LOCATE = SITE "R7" LEVEL 1;
COMP "STATUS_LED<4>" LOCATE = SITE "P10" LEVEL 1;
COMP "STATUS_LED<5>" LOCATE = SITE "T7" LEVEL 1;
COMP "STATUS_LED<6>" LOCATE = SITE "R10" LEVEL 1;
COMP "VGA_HSYNC_N" LOCATE = SITE "B7" LEVEL 1;
COMP "PS2_DAT" LOCATE = SITE "E13" LEVEL 1;
COMP "VGA_BLUE<0>" LOCATE = SITE "C9" LEVEL 1;
COMP "VGA_BLUE<1>" LOCATE = SITE "E7" LEVEL 1;
COMP "VGA_BLUE<2>" LOCATE = SITE "D5" LEVEL 1;
COMP "PS2_CLK" LOCATE = SITE "B16" LEVEL 1;
PIN clks/clkdll_1_pins<20> = BEL "clks/clkdll_1" PINNAME CLKIN;
TIMEGRP CLK100 = PIN "clks/clkdll_1_pins<20>";
TIMEGRP clks_CLKDV = BEL "PDP8/rtclock/clockflag" BEL "PDP8/rtclock/io_done"
        BEL "PDP8/rtclock/clockenable" BEL "PDP8/rtclock/IOrdata_11" BEL
        "PDP8/rtclock/IOrdata_10" BEL "PDP8/rtclock/IOrdata_9" BEL
        "PDP8/rtclock/IOrdata_8" BEL "PDP8/rtclock/IOrdata_7" BEL
        "PDP8/rtclock/IOrdata_6" BEL "PDP8/rtclock/IOrdata_5" BEL
        "PDP8/rtclock/IOrdata_4" BEL "PDP8/rtclock/IOrdata_3" BEL
        "PDP8/rtclock/IOrdata_2" BEL "PDP8/rtclock/IOrdata_1" BEL
        "PDP8/rtclock/IOrdata_0" BEL "PDP8/rtclock/IOdevstatus_1" BEL
        "PDP8/rtclock/IOdevstatus_0" BEL "PDP8/rtclock/IOskip" BEL
        "PDP8/ptr/io_done" BEL "PDP8/ptr/IOdevstatus_1" BEL
        "PDP8/ptr/IOdevstatus_0" BEL "PDP8/ptr/IOskip" BEL "PDP8/ptr/rdrclear"
        BEL "PDP8/ptr/rdrstart" BEL "PDP8/ptr/rdr_ienable" BEL
        "PDP8/ptr/rbuff_2" BEL "PDP8/ptr/rbuff_1" BEL "PDP8/ptr/rbuff_0" BEL
        "PDP8/ptr/IOrdata_11" BEL "PDP8/ptr/IOrdata_10" BEL
        "PDP8/ptr/IOrdata_9" BEL "PDP8/ptr/IOrdata_8" BEL "PDP8/ptr/IOrdata_7"
        BEL "PDP8/ptr/IOrdata_6" BEL "PDP8/ptr/IOrdata_5" BEL
        "PDP8/ptr/IOrdata_4" BEL "PDP8/ptr/IOrdata_3" BEL "PDP8/ptr/IOrdata_2"
        BEL "PDP8/ptr/IOrdata_1" BEL "PDP8/ptr/IOrdata_0" BEL
        "PDP8/ptr/rdrflag" BEL "PDP8/tty1/IOinterrupt" BEL "PDP8/tty1/io_done"
        BEL "PDP8/tty1/IOrdata_11" BEL "PDP8/tty1/IOrdata_10" BEL
        "PDP8/tty1/IOrdata_9" BEL "PDP8/tty1/IOrdata_8" BEL
        "PDP8/tty1/IOrdata_7" BEL "PDP8/tty1/IOrdata_6" BEL
        "PDP8/tty1/IOrdata_5" BEL "PDP8/tty1/IOrdata_4" BEL
        "PDP8/tty1/IOrdata_3" BEL "PDP8/tty1/IOrdata_2" BEL
        "PDP8/tty1/IOrdata_1" BEL "PDP8/tty1/IOrdata_0" BEL "PDP8/tty1/IOdone"
        BEL "PDP8/tty1/ttonew" BEL "PDP8/tty1/ttodone" BEL "PDP8/tty1/IOskip"
        BEL "PDP8/tty1/ttoclr" BEL "PDP8/tty1/tty_ienable" BEL
        "PDP8/tty1/ttoflag" BEL "PDP8/tty1/ttoshift_10" BEL
        "PDP8/tty1/ttoshift_9" BEL "PDP8/tty1/ttoshift_8" BEL
        "PDP8/tty1/ttoshift_7" BEL "PDP8/tty1/ttoshift_6" BEL
        "PDP8/tty1/ttoshift_5" BEL "PDP8/tty1/ttoshift_4" BEL
        "PDP8/tty1/ttoshift_3" BEL "PDP8/tty1/ttoshift_2" BEL
        "PDP8/tty1/ttoshift_1" BEL "PDP8/tty1/ttoshift_0" BEL
        "PDP8/tty1/ttobusy" BEL "PDP8/tty1/ttobuff_7" BEL
        "PDP8/tty1/ttobuff_6" BEL "PDP8/tty1/ttobuff_5" BEL
        "PDP8/tty1/ttobuff_4" BEL "PDP8/tty1/ttobuff_3" BEL
        "PDP8/tty1/ttobuff_2" BEL "PDP8/tty1/ttobuff_1" BEL
        "PDP8/tty1/ttobuff_0" BEL "PDP8/tty1/IOdevstatus_1" BEL
        "PDP8/tty1/IOdevstatus_0" BEL "PDP8/ptr/rstate_FFd1" BEL
        "PDP8/ptr/rstate_FFd2" BEL "PDP8/rtclock/clockcounter_0" BEL
        "PDP8/rtclock/clockcounter_1" BEL "PDP8/rtclock/clockcounter_2" BEL
        "PDP8/rtclock/clockcounter_3" BEL "PDP8/rtclock/clockcounter_4" BEL
        "PDP8/rtclock/clockcounter_5" BEL "PDP8/rtclock/clockcounter_6" BEL
        "PDP8/rtclock/clockcounter_7" BEL "PDP8/rtclock/clockcounter_8" BEL
        "PDP8/rtclock/clockcounter_9" BEL "PDP8/rtclock/clockcounter_10" BEL
        "PDP8/rtclock/clockcounter_11" BEL "PDP8/rtclock/clockcounter_12" BEL
        "PDP8/rtclock/clockcounter_13" BEL "PDP8/rtclock/clockcounter_14" BEL
        "PDP8/rtclock/clockcounter_15" BEL "PDP8/rtclock/clockcounter_16" BEL
        "PDP8/rtclock/clockcounter_17" BEL "PDP8/rtclock/clockcounter_18" BEL
        "PDP8/rtclock/clockcounter_19" BEL "PDP8/rtclock/clockcounter_20" BEL
        "PDP8/tty1/ttocount_0" BEL "PDP8/tty1/ttocount_3" BEL
        "PDP8/tty1/ttocount_1" BEL "PDP8/tty1/ttocount_2" BEL
        "PDP8/tty1/ttocount_4" BEL "PDP8/tty1/ttocount_5" BEL
        "PDP8/tty1/ttocount_6" BEL "PDP8/tty1/ttocount_7" BEL
        "PDP8/tty1/ttocount_8" BEL "PDP8/tty1/ttocount_9" BEL
        "PDP8/tty1/ttocount_10" BEL "PDP8/tty1/ttocount_11" BEL
        "PDP8/tty1/ttocount_12" BEL "PDP8/tty1/ttocount_13" BEL
        "PDP8/tty1/ttocount_14" BEL "PDP8/tty1/ttocount_15" BEL
        "PDP8/tty1/ttocount_18" BEL "PDP8/tty1/ttocount_16" BEL
        "PDP8/tty1/ttocount_17" BEL "PDP8/mem/MEMpending" BEL "PDP8/mem/ena0"
        BEL "PDP8/mem/ena1" BEL "PDP8/mem/ena2" BEL "PDP8/mem/ena5" BEL
        "PDP8/mem/ena3" BEL "PDP8/mem/ena4" BEL "PDP8/mem/ena6" BEL
        "PDP8/mem/ena7" BEL "PDP8/mem/we" BEL "PDP8/mem/MEMdone" BEL
        "PDP8/mem/MEMrdata_11" BEL "PDP8/mem/MEMrdata_10" BEL
        "PDP8/mem/MEMrdata_9" BEL "PDP8/mem/MEMrdata_8" BEL
        "PDP8/mem/MEMrdata_7" BEL "PDP8/mem/MEMrdata_6" BEL
        "PDP8/mem/MEMrdata_5" BEL "PDP8/mem/MEMrdata_4" BEL
        "PDP8/mem/MEMrdata_3" BEL "PDP8/mem/MEMrdata_2" BEL
        "PDP8/mem/MEMrdata_1" BEL "PDP8/mem/MEMrdata_0" BEL "PDP8/mem/RAM00.A"
        BEL "PDP8/mem/RAM01.A" BEL "PDP8/mem/RAM02.A" BEL "PDP8/mem/RAM10.A"
        BEL "PDP8/mem/RAM11.A" BEL "PDP8/mem/RAM12.A" BEL "PDP8/mem/RAM20.A"
        BEL "PDP8/mem/RAM21.A" BEL "PDP8/mem/RAM22.A" BEL "PDP8/mem/RAM30.A"
        BEL "PDP8/mem/RAM31.A" BEL "PDP8/mem/RAM32.A" BEL "PDP8/mem/RAM40.A"
        BEL "PDP8/mem/RAM41.A" BEL "PDP8/mem/RAM42.A" BEL "PDP8/mem/RAM50.A"
        BEL "PDP8/mem/RAM51.A" BEL "PDP8/mem/RAM52.A" BEL "PDP8/mem/RAM60.A"
        BEL "PDP8/mem/RAM61.A" BEL "PDP8/mem/RAM62.A" BEL "PDP8/mem/RAM70.A"
        BEL "PDP8/mem/RAM71.A" BEL "PDP8/mem/RAM72.A" BEL
        "PDP8/console/io_done" BEL "PDP8/console/IOinterrupt" BEL
        "PDP8/console/IOrdata_11" BEL "PDP8/console/IOrdata_10" BEL
        "PDP8/console/IOrdata_9" BEL "PDP8/console/IOrdata_8" BEL
        "PDP8/console/IOrdata_7" BEL "PDP8/console/IOrdata_6" BEL
        "PDP8/console/IOrdata_5" BEL "PDP8/console/IOrdata_4" BEL
        "PDP8/console/IOrdata_3" BEL "PDP8/console/IOrdata_2" BEL
        "PDP8/console/IOrdata_1" BEL "PDP8/console/IOrdata_0" BEL
        "PDP8/console/IOdevstatus_1" BEL "PDP8/console/IOdevstatus_0" BEL
        "PDP8/console/ttistarting" BEL "PDP8/console/ttirun" BEL
        "PDP8/console/ttonew" BEL "PDP8/console/IOdone" BEL
        "PDP8/console/ttodone" BEL "PDP8/console/IOskip" BEL
        "PDP8/console/ttiflag" BEL "PDP8/console/tty_ienable" BEL
        "PDP8/console/ttidone" BEL "PDP8/console/ttoflag" BEL
        "PDP8/console/ttoclr" BEL "PDP8/console/ttoshift_10" BEL
        "PDP8/console/ttoshift_9" BEL "PDP8/console/ttoshift_8" BEL
        "PDP8/console/ttoshift_7" BEL "PDP8/console/ttoshift_6" BEL
        "PDP8/console/ttoshift_5" BEL "PDP8/console/ttoshift_4" BEL
        "PDP8/console/ttoshift_3" BEL "PDP8/console/ttoshift_2" BEL
        "PDP8/console/ttoshift_1" BEL "PDP8/console/ttoshift_0" BEL
        "PDP8/console/ttobusy" BEL "PDP8/console/ttibuff_7" BEL
        "PDP8/console/ttibuff_6" BEL "PDP8/console/ttibuff_5" BEL
        "PDP8/console/ttibuff_4" BEL "PDP8/console/ttibuff_3" BEL
        "PDP8/console/ttibuff_2" BEL "PDP8/console/ttibuff_1" BEL
        "PDP8/console/ttibuff_0" BEL "PDP8/console/ttobuff_7" BEL
        "PDP8/console/ttobuff_6" BEL "PDP8/console/ttobuff_5" BEL
        "PDP8/console/ttobuff_4" BEL "PDP8/console/ttobuff_3" BEL
        "PDP8/console/ttobuff_2" BEL "PDP8/console/ttobuff_1" BEL
        "PDP8/console/ttobuff_0" BEL "PDP8/console/TXD" BEL
        "PDP8/console/tticount_18" BEL "PDP8/console/tticount_17" BEL
        "PDP8/console/tticount_16" BEL "PDP8/console/tticount_15" BEL
        "PDP8/console/tticount_14" BEL "PDP8/console/tticount_13" BEL
        "PDP8/console/tticount_12" BEL "PDP8/console/tticount_11" BEL
        "PDP8/console/tticount_10" BEL "PDP8/console/tticount_9" BEL
        "PDP8/console/tticount_8" BEL "PDP8/console/tticount_7" BEL
        "PDP8/console/tticount_6" BEL "PDP8/console/tticount_5" BEL
        "PDP8/console/tticount_4" BEL "PDP8/console/tticount_3" BEL
        "PDP8/console/tticount_2" BEL "PDP8/console/tticount_1" BEL
        "PDP8/console/tticount_0" BEL "PDP8/console/ttishift_2" BEL
        "PDP8/console/ttishift_0" BEL "PDP8/console/ttishift_1" BEL
        "PDP8/console/ttishift_3" BEL "PDP8/console/ttishift_4" BEL
        "PDP8/console/ttishift_5" BEL "PDP8/console/ttishift_6" BEL
        "PDP8/console/ttishift_7" BEL "PDP8/console/ttishift_8" BEL
        "PDP8/console/ttocount_18" BEL "PDP8/console/ttocount_17" BEL
        "PDP8/console/ttocount_16" BEL "PDP8/console/ttocount_15" BEL
        "PDP8/console/ttocount_14" BEL "PDP8/console/ttocount_13" BEL
        "PDP8/console/ttocount_12" BEL "PDP8/console/ttocount_11" BEL
        "PDP8/console/ttocount_10" BEL "PDP8/console/ttocount_9" BEL
        "PDP8/console/ttocount_8" BEL "PDP8/console/ttocount_7" BEL
        "PDP8/console/ttocount_6" BEL "PDP8/console/ttocount_5" BEL
        "PDP8/console/ttocount_4" BEL "PDP8/console/ttocount_3" BEL
        "PDP8/console/ttocount_2" BEL "PDP8/console/ttocount_1" BEL
        "PDP8/console/ttocount_0" BEL "PDP8/panel/enterdata" BEL
        "PDP8/panel/addrkeys_0" BEL "PDP8/panel/addrkeys_1" BEL
        "PDP8/panel/addrkeys_2" BEL "PDP8/panel/addrkeys_3" BEL
        "PDP8/panel/addrkeys_4" BEL "PDP8/panel/addrkeys_5" BEL
        "PDP8/panel/addrkeys_6" BEL "PDP8/panel/addrkeys_7" BEL
        "PDP8/panel/addrkeys_8" BEL "PDP8/panel/addrkeys_9" BEL
        "PDP8/panel/addrkeys_10" BEL "PDP8/panel/addrkeys_11" BEL
        "PDP8/panel/addrkeys_12" BEL "PDP8/panel/addrkeys_13" BEL
        "PDP8/panel/addrkeys_14" BEL "PDP8/panel/HaltLatch_1" BEL
        "PDP8/panel/HaltLatch_0" BEL "PDP8/panel/CPUcontrol_1" BEL
        "PDP8/panel/CPUcontrol_30" BEL "PDP8/panel/CPUcontrol_31" BEL
        "PDP8/panel/CPUcontrol_32" BEL "PDP8/panel/CPUcontrol_29" BEL
        "PDP8/panel/SwitchHalt" BEL "PDP8/panel/SwitchSStep" BEL
        "PDP8/panel/switches_0" BEL "PDP8/panel/switches_1" BEL
        "PDP8/panel/switches_2" BEL "PDP8/panel/switches_3" BEL
        "PDP8/panel/switches_4" BEL "PDP8/panel/switches_5" BEL
        "PDP8/panel/switches_6" BEL "PDP8/panel/switches_7" BEL
        "PDP8/panel/switches_8" BEL "PDP8/panel/switches_9" BEL
        "PDP8/panel/switches_10" BEL "PDP8/panel/switches_11" BEL
        "PDP8/panel/CPUcontrol_0" BEL "PDP8/panel/CPUcontrol_33" BEL
        "PDP8/panel/kb_state" BEL "PDP8/panel/fg" BEL "PDP8/panel/cgen/dout_1"
        BEL "PDP8/panel/cgen/dout_2" BEL "PDP8/panel/cgen/dout_3" BEL
        "PDP8/panel/cgen/dout_6" BEL "PDP8/panel/cgen/dout_4" BEL
        "PDP8/panel/cgen/dout_5" BEL "PDP8/panel/cgen/dout_7" BEL
        "PDP8/panel/kb/kb_done" BEL "PDP8/panel/kb/parity" BEL
        "PDP8/panel/kb/last_clk_4" BEL "PDP8/panel/kb/last_clk_3" BEL
        "PDP8/panel/kb/last_clk_2" BEL "PDP8/panel/kb/last_clk_1" BEL
        "PDP8/panel/kb/last_clk_0" BEL "PDP8/panel/kb/augflag" BEL
        "PDP8/panel/kb/rlsflag" BEL "PDP8/panel/kb/scanshift_0" BEL
        "PDP8/panel/kb/scanshift_1" BEL "PDP8/panel/kb/scanshift_2" BEL
        "PDP8/panel/kb/scanshift_3" BEL "PDP8/panel/kb/scanshift_4" BEL
        "PDP8/panel/kb/scanshift_5" BEL "PDP8/panel/kb/scanshift_6" BEL
        "PDP8/panel/kb/scanshift_7" BEL "PDP8/panel/kb/scanshift_8" BEL
        "PDP8/panel/kb/scanshift_9" BEL "PDP8/panel/kb/kb_scancode_0" BEL
        "PDP8/panel/kb/kb_scancode_1" BEL "PDP8/panel/kb/kb_scancode_2" BEL
        "PDP8/panel/kb/kb_scancode_3" BEL "PDP8/panel/kb/kb_scancode_4" BEL
        "PDP8/panel/kb/kb_scancode_5" BEL "PDP8/panel/kb/kb_scancode_6" BEL
        "PDP8/panel/kb/kb_scancode_7" BEL "PDP8/panel/kb/kb_scancode_8" BEL
        "PDP8/panel/kb/kb_scancode_9" BEL "PDP8/panel/sync/VGAhsync" BEL
        "PDP8/panel/sync/VGAvsync" BEL "PDP8/panel/sync/V_blank" BEL
        "PDP8/panel/sync/v_count_0" BEL "PDP8/panel/sync/v_count_1" BEL
        "PDP8/panel/sync/v_count_2" BEL "PDP8/panel/sync/v_count_3" BEL
        "PDP8/panel/sync/v_count_4" BEL "PDP8/panel/sync/v_count_5" BEL
        "PDP8/panel/sync/v_count_6" BEL "PDP8/panel/sync/v_count_7" BEL
        "PDP8/panel/sync/v_count_8" BEL "PDP8/panel/sync/v_count_9" BEL
        "PDP8/panel/sync/h_count_0" BEL "PDP8/panel/sync/h_count_1" BEL
        "PDP8/panel/sync/h_count_2" BEL "PDP8/panel/sync/h_count_3" BEL
        "PDP8/panel/sync/h_count_4" BEL "PDP8/panel/sync/h_count_5" BEL
        "PDP8/panel/sync/h_count_6" BEL "PDP8/panel/sync/h_count_7" BEL
        "PDP8/panel/sync/h_count_8" BEL "PDP8/panel/sync/h_count_9" BEL
        "PDP8/cpu/ma_6" BEL "PDP8/cpu/lac_8" BEL "PDP8/cpu/pc_10" BEL
        "PDP8/cpu/lac_9" BEL "PDP8/cpu/ma_7" BEL "PDP8/cpu/pc_11" BEL
        "PDP8/cpu/ma_8" BEL "PDP8/cpu/ma_9" BEL "PDP8/cpu/laststatus_1" BEL
        "PDP8/cpu/laststatus_0" BEL "PDP8/cpu/run" BEL "PDP8/cpu/iocount_3"
        BEL "PDP8/cpu/iocount_2" BEL "PDP8/cpu/iocount_1" BEL
        "PDP8/cpu/iocount_0" BEL "PDP8/cpu/mb_0" BEL "PDP8/cpu/fault" BEL
        "PDP8/cpu/defer" BEL "PDP8/cpu/mb_1" BEL "PDP8/cpu/EAEmode" BEL
        "PDP8/cpu/mb_2" BEL "PDP8/cpu/EAEgtf" BEL "PDP8/cpu/mb_3" BEL
        "PDP8/cpu/mb_4" BEL "PDP8/cpu/mb_10" BEL "PDP8/cpu/mb_5" BEL
        "PDP8/cpu/mb_11" BEL "PDP8/cpu/mb_6" BEL "PDP8/cpu/dfld_2" BEL
        "PDP8/cpu/dfld_1" BEL "PDP8/cpu/dfld_0" BEL "PDP8/cpu/mb_7" BEL
        "PDP8/cpu/mb_8" BEL "PDP8/cpu/mb_9" BEL "PDP8/cpu/pc_0" BEL
        "PDP8/cpu/pc_1" BEL "PDP8/cpu/pc_4" BEL "PDP8/cpu/pc_2" BEL
        "PDP8/cpu/pc_3" BEL "PDP8/cpu/pc_5" BEL "PDP8/cpu/pc_6" BEL
        "PDP8/cpu/pc_7" BEL "PDP8/cpu/io_start" BEL "PDP8/cpu/pc_8" BEL
        "PDP8/cpu/pc_9" BEL "PDP8/cpu/pie_0" BEL "PDP8/cpu/IOcaf" BEL
        "PDP8/cpu/pie_1" BEL "PDP8/cpu/lac_10" BEL "PDP8/cpu/pie_2" BEL
        "PDP8/cpu/lac_11" BEL "PDP8/cpu/lac_12" BEL "PDP8/cpu/noshift" BEL
        "PDP8/cpu/EAEscnt_4" BEL "PDP8/cpu/EAEscnt_3" BEL "PDP8/cpu/EAEscnt_2"
        BEL "PDP8/cpu/EAEscnt_1" BEL "PDP8/cpu/EAEscnt_0" BEL
        "PDP8/cpu/io_timeout" BEL "PDP8/cpu/ubuf" BEL "PDP8/cpu/mq_11" BEL
        "PDP8/cpu/mq_10" BEL "PDP8/cpu/mq_9" BEL "PDP8/cpu/mq_8" BEL
        "PDP8/cpu/mq_7" BEL "PDP8/cpu/mq_6" BEL "PDP8/cpu/mq_5" BEL
        "PDP8/cpu/mq_4" BEL "PDP8/cpu/mq_3" BEL "PDP8/cpu/mq_2" BEL
        "PDP8/cpu/mq_1" BEL "PDP8/cpu/mq_0" BEL "PDP8/cpu/ma_10" BEL
        "PDP8/cpu/ma_11" BEL "PDP8/cpu/CPUstate_105" BEL "PDP8/cpu/ma_12" BEL
        "PDP8/cpu/CPUstate_106" BEL "PDP8/cpu/iinhibit" BEL "PDP8/cpu/mrd" BEL
        "PDP8/cpu/userflag" BEL "PDP8/cpu/ma_13" BEL "PDP8/cpu/ma_14" BEL
        "PDP8/cpu/CPUstate_107" BEL "PDP8/cpu/userint" BEL "PDP8/cpu/EAEop_0"
        BEL "PDP8/cpu/EAEop_1" BEL "PDP8/cpu/ibuf_2" BEL "PDP8/cpu/ibuf_1" BEL
        "PDP8/cpu/ibuf_0" BEL "PDP8/cpu/mwr" BEL "PDP8/cpu/lac_0" BEL
        "PDP8/cpu/lac_1" BEL "PDP8/cpu/lac_2" BEL "PDP8/cpu/ma_0" BEL
        "PDP8/cpu/ma_1" BEL "PDP8/cpu/ifld_2" BEL "PDP8/cpu/ifld_1" BEL
        "PDP8/cpu/ifld_0" BEL "PDP8/cpu/lac_3" BEL "PDP8/cpu/lastMdone" BEL
        "PDP8/cpu/lac_4" BEL "PDP8/cpu/ma_2" BEL "PDP8/cpu/lac_5" BEL
        "PDP8/cpu/ma_3" BEL "PDP8/cpu/lac_6" BEL "PDP8/cpu/ma_4" BEL
        "PDP8/cpu/lac_7" BEL "PDP8/cpu/ma_5" BEL "PDP8/cpu/MEMaddr_14" BEL
        "PDP8/cpu/MEMaddr_13" BEL "PDP8/cpu/MEMaddr_12" BEL
        "PDP8/cpu/MEMaddr_11" BEL "PDP8/cpu/MEMaddr_10" BEL
        "PDP8/cpu/MEMaddr_9" BEL "PDP8/cpu/MEMaddr_8" BEL "PDP8/cpu/MEMaddr_7"
        BEL "PDP8/cpu/MEMaddr_6" BEL "PDP8/cpu/MEMaddr_5" BEL
        "PDP8/cpu/MEMaddr_4" BEL "PDP8/cpu/MEMaddr_3" BEL "PDP8/cpu/MEMaddr_2"
        BEL "PDP8/cpu/MEMaddr_1" BEL "PDP8/cpu/MEMaddr_0" BEL
        "PDP8/cpu/io_addr_5" BEL "PDP8/cpu/io_addr_4" BEL "PDP8/cpu/io_addr_3"
        BEL "PDP8/cpu/io_addr_2" BEL "PDP8/cpu/io_addr_1" BEL
        "PDP8/cpu/io_addr_0" BEL "PDP8/cpu/MEMrd" BEL "PDP8/cpu/ir_2" BEL
        "PDP8/cpu/ir_1" BEL "PDP8/cpu/ir_0" BEL "PDP8/cpu/MEMwr" BEL
        "PDP8/cpu/MEMwdata_11" BEL "PDP8/cpu/MEMwdata_10" BEL
        "PDP8/cpu/MEMwdata_9" BEL "PDP8/cpu/MEMwdata_8" BEL
        "PDP8/cpu/MEMwdata_7" BEL "PDP8/cpu/MEMwdata_6" BEL
        "PDP8/cpu/MEMwdata_5" BEL "PDP8/cpu/MEMwdata_4" BEL
        "PDP8/cpu/MEMwdata_3" BEL "PDP8/cpu/MEMwdata_2" BEL
        "PDP8/cpu/MEMwdata_1" BEL "PDP8/cpu/MEMwdata_0" BEL "PDP8/cpu/EAEop_2"
        BEL "PDP8/cpu/savfld_6" BEL "PDP8/cpu/savfld_5" BEL
        "PDP8/cpu/savfld_4" BEL "PDP8/cpu/savfld_3" BEL "PDP8/cpu/savfld_2"
        BEL "PDP8/cpu/savfld_1" BEL "PDP8/cpu/savfld_0" BEL "PDP8/cpu/EAEop_3"
        BEL "PDP8/cpu/EAEop_4" BEL "PDP8/cpu/io_iop_2" BEL "PDP8/cpu/io_iop_1"
        BEL "PDP8/cpu/io_iop_0" BEL "PDP8/cpu/IOwdata_11" BEL
        "PDP8/cpu/IOwdata_10" BEL "PDP8/cpu/IOwdata_9" BEL
        "PDP8/cpu/IOwdata_8" BEL "PDP8/cpu/IOwdata_7" BEL "PDP8/cpu/IOwdata_6"
        BEL "PDP8/cpu/IOwdata_5" BEL "PDP8/cpu/IOwdata_4" BEL
        "PDP8/cpu/IOwdata_3" BEL "PDP8/cpu/IOwdata_2" BEL "PDP8/cpu/IOwdata_1"
        BEL "PDP8/cpu/IOwdata_0" BEL "PDP8/cpu/R_etat_FFd3" BEL
        "PDP8/cpu/R_etat_FFd1" BEL "PDP8/cpu/R_etat_FFd2" BEL
        "PDP8/cpu/R_etat_FFd4" BEL "PDP8/cpu/R_etat_FFd5" BEL
        "PDP8/cpu/R_etat_FFd6" BEL "PDP8/cpu/R_etat_FFd7" BEL
        "PDP8/cpu/R_etat_FFd8" BEL "PDP8/cpu/R_etat_FFd9" BEL
        "PDP8/panel/ccolor_0" BEL "PDP8/panel/bcolor_0" BEL
        "PDP8/panel/ccolor_1" BEL "PDP8/panel/ccolor_2" BEL
        "PDP8/panel/charsel_2" BEL "PDP8/panel/charsel_5" BEL
        "PDP8/panel/VGAgreen" BEL "PDP8/panel/VGAred" BEL "PDP8/panel/VGAblue"
        BEL "PDP8/panel/charsel_0" BEL "PDP8/panel/charsel_1" BEL
        "PDP8/panel/charsel_3" BEL "PDP8/panel/charsel_4" BEL
        "PDP8/panel/sync/H_blank" BEL "PDP8/panel/charsel_2_1" BEL
        "PDP8/panel/charsel_3_1" BEL "PDP8/panel/charsel_4_1" BEL
        "PDP8/panel/charsel_5_1" BEL "PDP8/panel/sync/h_count_6_1" BEL
        "PDP8/panel/sync/h_count_5_1" BEL "PDP8/cpu/mb_3_1" BEL
        "PDP8/cpu/mb_11_1" BEL "PDP8/cpu/mb_9_1" BEL "PDP8/cpu/mb_8_1" BEL
        "PDP8/panel/sync/h_count_3_1" BEL "PDP8/cpu/mb_5_1" BEL
        "PDP8/panel/sync/h_count_4_1" BEL "PDP8/cpu/mb_10_1" BEL
        "PDP8/cpu/mb_6_1" BEL "PDP8/cpu/mb_7_1" BEL
        "PDP8/panel/sync/h_count_7_1" BEL "PDP8/panel/sync/v_count_0_1" BEL
        "PDP8/panel/sync/h_count_9_1" BEL "PDP8/panel/sync/h_count_8_1" BEL
        "PDP8/panel/sync/v_count_1_1" BEL "PDP8/panel/sync/v_count_8_1" BEL
        "PDP8/panel/charsel_2_2" BEL "PDP8/panel/charsel_4_2" BEL
        "PDP8/panel/charsel_3_2" BEL "PDP8/panel/charsel_5_2" BEL
        "PDP8/panel/sync/h_count_5_2" BEL "PDP8/panel/sync/h_count_6_2" BEL
        "PDP8/panel/sync/h_count_4_2" BEL "PDP8/panel/sync/h_count_7_2" BEL
        "PDP8/panel/sync/h_count_9_2" BEL "PDP8/panel/sync/h_count_3_2" BEL
        "PDP8/cpu/mb_1_1" BEL "PDP8/panel/sync/v_count_7_1" BEL
        "PDP8/cpu/mb_0_1" BEL "PDP8/cpu/mb_4_1" BEL
        "PDP8/panel/sync/v_count_3_1" BEL "PDP8/panel/sync/h_count_8_2" BEL
        "PDP8/cpu/mb_6_2" BEL "PDP8/cpu/mb_2_1" BEL "PDP8/cpu/mb_9_2" BEL
        "PDP8/cpu/EAEop_1_1" BEL "PDP8/cpu/mb_8_2" BEL "PDP8/cpu/EAEop_4_1"
        BEL "PDP8/panel/sync/v_count_0_2" BEL "PDP8/cpu/mb_11_2" BEL
        "PDP8/panel/charsel_4_3" BEL "PDP8/panel/charsel_5_3" BEL
        "PDP8/panel/charsel_3_3" BEL "PDP8/panel/charsel_2_3" BEL
        "PDP8/panel/sync/h_count_5_3" BEL "PDP8/panel/sync/h_count_6_3" BEL
        "PDP8/panel/sync/h_count_4_3" BEL "PDP8/panel/sync/h_count_7_3" BEL
        "PDP8/panel/sync/h_count_3_3" BEL "PDP8/panel/sync/v_count_5_1" BEL
        "PDP8/panel/sync/v_count_6_1" BEL "PDP8/panel/sync/v_count_4_1" BEL
        "PDP8/panel/sync/h_count_8_3" BEL "PDP8/cpu/lac_6_1" BEL
        "PDP8/panel/sync/v_count_7_2" BEL "PDP8/cpu/mb_10_2" BEL
        "PDP8/cpu/lac_7_1" BEL "PDP8/cpu/lac_11_1" BEL
        "PDP8/panel/sync/v_count_3_2" BEL "PDP8/panel/sync/h_count_9_3" BEL
        "PDP8/cpu/mb_4_2" BEL "PDP8/cpu/EAEop_2_1" BEL "PDP8/cpu/mb_3_2" BEL
        "PDP8/cpu/mb_9_3" BEL "PDP8/cpu/lac_12_1" BEL "PDP8/cpu/mb_7_2" BEL
        "PDP8/cpu/mb_6_3" BEL "PDP8/panel/charsel_4_4" BEL
        "PDP8/panel/charsel_5_4" BEL "PDP8/panel/charsel_3_4" BEL
        "PDP8/panel/charsel_2_4" BEL "PDP8/panel/sync/h_count_5_4" BEL
        "PDP8/cpu/lac_8_1" BEL "PDP8/cpu/lac_9_1" BEL
        "PDP8/panel/sync/h_count_6_4" BEL "PDP8/panel/sync/h_count_3_4" BEL
        "PDP8/panel/sync/h_count_7_4" BEL "PDP8/panel/sync/h_count_4_4" BEL
        "PDP8/cpu/EAEop_3_1" BEL "PDP8/cpu/lac_10_1" BEL "PDP8/cpu/mb_8_3" BEL
        "PDP8/panel/sync/h_count_8_4" BEL "PDP8/panel/sync/v_count_4_2" BEL
        "PDP8/panel/sync/v_count_5_2";
TS_clk = PERIOD TIMEGRP "CLK100" 10 ns HIGH 50%;
TS_clks_CLKDV = PERIOD TIMEGRP "clks_CLKDV" TS_clk * 4 HIGH 50%;
SCHEMATIC END;
