/8bc
/CJLtapes
/CleanUp
/DEC-Bus-Transceiver
/DECmate
/Desktop
/Documents
/Doug
/DougJones
/Downloads
/Folke
/GaryLDye
/InteractiveHtmlBom
/JJaeger
/JeffJetton
/Kicad
/Kyle
/LINCtape
/Lars
/Mattis
/MikeK
/PDP-8_E
/Simulator
/2.4
/PQS8-Source
/PQS8
/Pictures
/SpaceHobo
/Verilator
/Videos
/Volker
/Windows
/Zach
/__MACOSX
/ack
/ak6dn
/altera
/anders-bzn
/archive.org
/archive
/benchmarks
/bin
/bitimages
/bitsavers
/bitwiz
/blinky
/bsilver
/build
/c-compilers
/cc8
/cclinc
/cjl
/csg3mf
/cvs
/decus-rl
/dirdups
/djg
/eBay
/eagle-6.6.0
/eagle-7.7.0
/erturk
/esniperlogs
/festo
/focal
/fpga8i
/gpib
/gridfinity-rebuilt-openscad
/gwiley
/hexer-1.0.5
/hexer-master
/imdsrc
/inventory
/jlpcb-eagle
/josh
/kaitai
/kaladin
/kv8i
/kyle-simh
/lab
/laptop-
/linc
/linux
/maslin
/memtst
/mrieker
/museum
/mygit
/nda
/ohome
/old-simh
/omnibone
/omsi
/openocd
/os8
/os8src
/pahp
/pal8
/pald
/palstuff
/pdp-9
/pdp11
/pdp12
/pdp8-master
/personal
/pic
/pidp8
/progs-n-things
/pxg
/ralf
/ratc
/rk8l
/roland
/rx02
/rx02_emulator
/sbc6120-mini-font-panel
/sd2
/simh-master
/simh-vrs
/simh
/simh_vc8e
/smallc
/snap
/so-much-crud
/src
/stevet
/stk500
/svn-backup
/swpanels
/system310
/tmp
/tockey
/tss
/tu58
/undup
/unique
/unpal
/urjtag
/usb-c
/vdp8
/vhdl-8
/vi
/war_kvo
/warren
/warv
/webgit
/websvn
/wip
/wxHexEditor
/yosys
/zxalexis
*.b##
*.b#1
*.b#2
*.b#3
*.b#4
*.b#5
*.b#6
*.b#7
*.b#8
*.b#9
*.s##
*.s#1
*.s#2
*.s#3
*.s#4
*.s#5
*.s#6
*.s#7
*.s#8
*.s#9
ref.tgz
