[submodule "Eagle"]
	path = Eagle
	url = https://github.com/vrs42/Eagle.git
[submodule "pdp8/src"]
	path = pdp8/src
	url = https://github.com/vrs42/src.git
[submodule "pdp8/8tools"]
	path = pdp8/8tools
	url = https://github.com/vrs42/8tools.git
