# Don't execute code from the file section!
RemoveHandler .pl

# Serve Perl scripts, don't execute them!
AddType text/plain .pl

# Understood file types.
AddType application/pdf ".pdf"
AddType image/bmp ".bmp"
AddType image/gif ".gif"
AddType image/gif ".GIF"
AddType image/jpeg ".JPG"
AddType image/jpeg ".jpg"
AddType image/png ".png"

# Binary blobs.
AddType application/octet-stream ".BIN"
AddType application/octet-stream ".EXE"
AddType application/octet-stream ".abs"
AddType application/octet-stream ".ammdb"
AddType application/octet-stream ".bin"
AddType application/octet-stream ".bit"
AddType application/octet-stream ".bmp"
AddType application/octet-stream ".brd"
AddType application/octet-stream ".cdb"
AddType application/octet-stream ".cod"
AddType application/octet-stream ".cof"
AddType application/octet-stream ".ddb"
AddType application/octet-stream ".dfp"
AddType application/octet-stream ".doc"
AddType application/octet-stream ".dpi"
AddType application/octet-stream ".fpd"
AddType application/octet-stream ".hb_info"
AddType application/octet-stream ".hdb"
AddType application/octet-stream ".hif"
AddType application/octet-stream ".hs"
AddType application/octet-stream ".hsd"
AddType application/octet-stream ".idb"
AddType application/octet-stream ".idx"
AddType application/octet-stream ".ipinfo"
AddType application/octet-stream ".ise"
AddType application/octet-stream ".ise_ISE_Backup"
AddType application/octet-stream ".kpt"
AddType application/octet-stream ".lbr"
AddType application/octet-stream ".lock"
AddType application/octet-stream ".mcw"
AddType application/octet-stream ".ok"
AddType application/octet-stream ".pack"
AddType application/octet-stream ".pof"
AddType application/octet-stream ".pt"
AddType application/octet-stream ".qws"
AddType application/octet-stream ".rcfdb"
AddType application/octet-stream ".rdb"
AddType application/octet-stream ".rvd"
AddType application/octet-stream ".sch"
AddType application/octet-stream ".sci"
AddType application/octet-stream ".snp"
AddType application/octet-stream ".sof"
AddType application/octet-stream ".tdb"
AddType application/octet-stream ".tif"
AddType application/octet-stream ".xls"
AddType application/octet-stream ".zip"
AddType application/octet-stream "index"
