HK ^AENTER FILESPEC:  < ^TI -1A-13"E -D 27I
BJ IER HXA HK MA Y 0;' >
BJ < Z-."E 0;' 0UAZ 31-QZ"L ONXTCHR' 8-QZ"L 14-QZ"G ONXTCHR' ' D
QZ-27"E ^^$I ONXTCHR' ^^^I 28-QZ"G (QZ+64)I ONXTCHR'
QZ-29"G QZ-30"E ^^^I ONXTCHR' ^^_I !NXTCHR! 1C>
BJ GA .UA 0L S. .-QA"N 2D '  @I+XL+  BJ 2D IEW B,QA+3XA B,QA+3K MA EC
