хк═чаентер═филеспец╨═│═╪═чти⌡═╜╠а╜╠Ё╒е═╜д═╡╥и⌡█┼бй═иер⌡═хьа═хк═ма═ы═╟╩╖═╬█┼бй═╪═з╜╝╒е═╟╩╖═╟уаз═Ё╠╜яз╒л═оньтцхр⌡╖═╦╜яз╒л═╠╢╜яз╒г═оньтцхр⌡╖═╖═д█┼яз╜╡╥╒е═чч╓и⌡═оньтцхр⌡╖═чччи⌡═╡╦╜яз╒г═╗яз╚╤╢╘и⌡═оньтцхр⌡╖█┼яз╜╡╧╒г═яз╜Ё╟╒е═чччи⌡═оньтцхр⌡╖═ччъи⌡═║ньтцхр║═╠ц╬█┼бй═га═╝уа═╟л═с╝⌡═╝╜яа╒н═╡д═╖══юи╚ьл⌡╚══бй═╡д═иев⌡═б╛яа╚Ёьа═б╛яа╚Ёк═ма═ец⌡█┼ ──────────────────────────────────────────────────────