//! **************************************************************************
// Written by: Map H.42 on Sun Feb 18 16:58:24 2007
//! **************************************************************************

SCHEMATIC START;
COMP "DIP_SW1<2>" LOCATE = SITE "P75" LEVEL 1;
COMP "DIP_SW1<3>" LOCATE = SITE "P74" LEVEL 1;
COMP "DIP_SW1<4>" LOCATE = SITE "P73" LEVEL 1;
COMP "DIP_SW1<5>" LOCATE = SITE "P71" LEVEL 1;
COMP "DIP_SW1<6>" LOCATE = SITE "P70" LEVEL 1;
COMP "DIP_SW1<7>" LOCATE = SITE "P69" LEVEL 1;
COMP "DIP_SW1<8>" LOCATE = SITE "P68" LEVEL 1;
COMP "SRAMce" LOCATE = SITE "P3" LEVEL 1;
COMP "VGAvsync" LOCATE = SITE "P160" LEVEL 1;
COMP "BLEDS<10>" LOCATE = SITE "P89" LEVEL 1;
COMP "BLEDS<11>" LOCATE = SITE "P88" LEVEL 1;
COMP "BLEDS<12>" LOCATE = SITE "P87" LEVEL 1;
COMP "BLEDS<13>" LOCATE = SITE "P86" LEVEL 1;
COMP "BLEDS<14>" LOCATE = SITE "P84" LEVEL 1;
COMP "BLEDS<15>" LOCATE = SITE "P83" LEVEL 1;
COMP "RS232RxD" LOCATE = SITE "P178" LEVEL 1;
COMP "SRAMdata<10>" LOCATE = SITE "P36" LEVEL 1;
COMP "SRAMdata<11>" LOCATE = SITE "P35" LEVEL 1;
COMP "SRAMdata<12>" LOCATE = SITE "P34" LEVEL 1;
COMP "SRAMdata<13>" LOCATE = SITE "P33" LEVEL 1;
COMP "RS232TxD" LOCATE = SITE "P179" LEVEL 1;
COMP "SRAMdata<14>" LOCATE = SITE "P31" LEVEL 1;
COMP "SRAMdata<15>" LOCATE = SITE "P30" LEVEL 1;
COMP "clkin" LOCATE = SITE "P77" LEVEL 1;
COMP "SRAMwel" LOCATE = SITE "P29" LEVEL 1;
COMP "VGAred0" LOCATE = SITE "P166" LEVEL 1;
COMP "VGAred1" LOCATE = SITE "P167" LEVEL 1;
COMP "SRAMweu" LOCATE = SITE "P27" LEVEL 1;
COMP "PPstrobe" LOCATE = SITE "P181" LEVEL 1;
COMP "SRAMaddress<10>" LOCATE = SITE "P10" LEVEL 1;
COMP "SRAMaddress<11>" LOCATE = SITE "P9" LEVEL 1;
COMP "SRAMaddress<12>" LOCATE = SITE "P8" LEVEL 1;
COMP "SRAMaddress<13>" LOCATE = SITE "P7" LEVEL 1;
COMP "SRAMaddress<14>" LOCATE = SITE "P6" LEVEL 1;
COMP "SRAMaddress<15>" LOCATE = SITE "P5" LEVEL 1;
COMP "SRAMaddress<16>" LOCATE = SITE "P4" LEVEL 1;
COMP "PPbusy" LOCATE = SITE "P204" LEVEL 1;
COMP "PS2KBclk" LOCATE = SITE "P168" LEVEL 1;
COMP "VGAgreen0" LOCATE = SITE "P164" LEVEL 1;
COMP "VGAgreen1" LOCATE = SITE "P165" LEVEL 1;
COMP "BLEDS<0>" LOCATE = SITE "P102" LEVEL 1;
COMP "BLEDS<1>" LOCATE = SITE "P101" LEVEL 1;
COMP "BLEDS<2>" LOCATE = SITE "P100" LEVEL 1;
COMP "BLEDS<3>" LOCATE = SITE "P99" LEVEL 1;
COMP "BLEDS<4>" LOCATE = SITE "P98" LEVEL 1;
COMP "BLEDS<5>" LOCATE = SITE "P97" LEVEL 1;
COMP "BLEDS<6>" LOCATE = SITE "P96" LEVEL 1;
COMP "SRAMdata<0>" LOCATE = SITE "P49" LEVEL 1;
COMP "BLEDS<7>" LOCATE = SITE "P95" LEVEL 1;
COMP "SRAMdata<1>" LOCATE = SITE "P48" LEVEL 1;
COMP "BLEDS<8>" LOCATE = SITE "P94" LEVEL 1;
COMP "SRAMdata<2>" LOCATE = SITE "P47" LEVEL 1;
COMP "BLEDS<9>" LOCATE = SITE "P93" LEVEL 1;
COMP "SRAMdata<3>" LOCATE = SITE "P46" LEVEL 1;
COMP "SRAMdata<4>" LOCATE = SITE "P45" LEVEL 1;
COMP "SRAMdata<5>" LOCATE = SITE "P44" LEVEL 1;
COMP "SRAMdata<6>" LOCATE = SITE "P43" LEVEL 1;
COMP "SRAMdata<7>" LOCATE = SITE "P42" LEVEL 1;
COMP "SRAMdata<8>" LOCATE = SITE "P41" LEVEL 1;
COMP "SRAMdata<9>" LOCATE = SITE "P40" LEVEL 1;
COMP "VGAblue0" LOCATE = SITE "P162" LEVEL 1;
COMP "VGAblue1" LOCATE = SITE "P163" LEVEL 1;
COMP "SRAMaddress<0>" LOCATE = SITE "P24" LEVEL 1;
COMP "SRAMaddress<1>" LOCATE = SITE "P23" LEVEL 1;
COMP "SRAMaddress<2>" LOCATE = SITE "P22" LEVEL 1;
COMP "SRAMaddress<3>" LOCATE = SITE "P21" LEVEL 1;
COMP "SRAMaddress<4>" LOCATE = SITE "P20" LEVEL 1;
COMP "SRAMaddress<5>" LOCATE = SITE "P18" LEVEL 1;
COMP "SRAMaddress<6>" LOCATE = SITE "P17" LEVEL 1;
COMP "SRAMaddress<7>" LOCATE = SITE "P16" LEVEL 1;
COMP "SRAMaddress<8>" LOCATE = SITE "P15" LEVEL 1;
COMP "SRAMaddress<9>" LOCATE = SITE "P11" LEVEL 1;
COMP "led" LOCATE = SITE "P82" LEVEL 1;
COMP "pbutton" LOCATE = SITE "P57" LEVEL 1;
COMP "VGAhsync" LOCATE = SITE "P161" LEVEL 1;
COMP "PPdata<0>" LOCATE = SITE "P188" LEVEL 1;
COMP "PPdata<1>" LOCATE = SITE "P191" LEVEL 1;
COMP "PPdata<2>" LOCATE = SITE "P193" LEVEL 1;
COMP "PPdata<3>" LOCATE = SITE "P198" LEVEL 1;
COMP "PPdata<4>" LOCATE = SITE "P199" LEVEL 1;
COMP "PPdata<5>" LOCATE = SITE "P200" LEVEL 1;
COMP "PPdata<6>" LOCATE = SITE "P201" LEVEL 1;
COMP "PPdata<7>" LOCATE = SITE "P202" LEVEL 1;
COMP "PS2KBdata" LOCATE = SITE "P169" LEVEL 1;
COMP "DIP_SW1<1>" LOCATE = SITE "P81" LEVEL 1;
SCHEMATIC END;
