!THIS IS A TECO MACRO TO ALIGN THE COMMENT
FIELDS IN A PAL8 SOURCE FILE.
STORE IT AS "ALIGN.TE"

CALL IT WITH  .MUNG ALIGN,DEV:FILE.PA	!

MACRO ALIGNMENT IN PROGRESS
J HXZHK@I'EB'-CGZHXZ HK MZY
<J<!START! 0UA 0UB S/ 0L
< 8<1%A 0A-47"E OSLASH' 0A-9"E OTAB' C>
-C !TAB! 8%B  C 1UA>
!SLASH! QA%B QB-12"L OEND'
QB-25"L  3<9I 8%B>'  
<QB-34"L OEND' -D -8%B>
!END! 0TT L> P "L OEXIT'>
!EXIT! COMMENT ALIGNMENT COMPLETE
 EX
