!THIS IS A TECO MACRO TO PROCESS PAL8 SOURCE FILES
IT REMOVES TABS BETWEEN MNEMONICS AND LABELS WITHOUT
MISALIGNING THE COMMENT FIELD.
STORE IT AS "CLEAN.TE"
IT REQUIRES STUART DOLES ^B PATCH FOR END
OF FILE FLAG	1332/1035  1037
		5002/0011  1332
^B=4095 FILE OPEN,=0 IF EOF SEEN


CALL IT WITH: .MUNG CLEAN,DEV:FILE.PA	!


J HXZHK@I'EB'-CGZHXZ HK MZ

!START! 0UA MACRO CLEANUP IN PROGRESS

<P 1%A 
J< S	AND	 -D I  4<0A-13"E L OTERM1'
0A-9"E 9I L OTERM1' C> !TERM1!>
J< S	AND I	 -D I  2<0A-13"E L OTERM2'
0A-9"E 9I L OTERM2' C> !TERM2!>
J< S	TAD	 -D I  4<0A-13"E L OTERM3'
0A-9"E 9I L OTERM3' C> !TERM3!>
J< S	TAD I	 -D I  2<0A-13"E L OTERM4'
0A-9"E 9I L OTERM4' C> !TERM4!>
J< S	ISZ	 -D I  4<0A-13"E L OTERM5'
0A-9"E 9I L OTERM5' C> !TERM5!>
J< S	ISZ I	 -D I  2<0A-13"E L OTERM6'
0A-9"E 9I L OTERM6' C> !TERM6!>
J< S	DCA	 -D I  4<0A-13"E L OTERM7'
0A-9"E 9I L OTERM7' C> !TERM7!>
J< S	DCA I	 -D I  2<0A-13"E L OTERM8'
0A-9"E 9I L OTERM8' C> !TERM8!>
J< S	JMP	 -D I  4<0A-13"E L OTERM9'
0A-9"E 9I L OTERM9' C> !TERM9!>
J< S	JMP I	 -D I  2<0A-13"E L OTERM10'
0A-9"E 9I L OTERM10' C> !TERM10!>
J< S	JMS	 -D I  4<0A-13"E L OTERM11'
0A-9"E 9I L OTERM11' C> !TERM11!>
J< S	JMS I	 -D I  2<0A-13"E L OTERM12'
0A-9"E 9I L OTERM12' C> !TERM12!>
^B;> PAGES EDITED   QA=
JOB COMPLETEEX
