!THIS IS A TECO MACRO TO ADD SYMBOLIC REFERENCES
 TO A DISASSEMBLED BINARY FILE. IT ASSUMES YOU HAVE
 ADDED SYMBOLS TO THE SOURCE FILE SO THEY APPEAR IN
 THE PAL8 SYMBOL TABLE. THIS MACRO READS THE SYMBOLS
 AND CHANGES ALL NUMERIC REFERENCES TO SYMBOLIC REFERENCES.
!

!READ THE LISTING FILE AND EXTRACT THE SYMBOL TABLE
 KEEP THE SYMBOL TABLE IN Q REGISTER S		!

ERCOS07G.LS _$HKYJ2KHXS

<GSJ S.-1UA S .-1UB  QA,QBXA
S.-1UAS.-1UB QA,QBXB B,.KHXSHK
I<FN  GB @I' ' GA @I'>EC' 0TT
 HXC
HKEBCOS07G.PA MC>EX

