!THIS IS A TECO MACRO TO REMOVE ALL
 FORM FEED PAGE DELIMITERS FROM A FILE

 CALL IT WITH
 .MUNG PAGE,DEV:FILE.EX		!

J HXZHK@I'EB'-CGZHXZ HK MZA
J<AB,ZP B,ZK "< OEXIT'> 
!EXIT! EX
