!	THIS IS A TECO MACRO TO EXTRACT A
	SUBTITLE INDEX FROM A PAL8 LISTING.
	ALL SUBTITLES ARE FLAGGED BY /.SBTTL!

J HXZ:S:"L-K'JXAHK 12IHTHK@I'ER'-CGZHXZ HK MZ
GA J:S."L -CK'ZJI.INHXB@I\\JIEWHXCHKMC
I	GA<.-16"G OOKAY'I >
!OKAY!I SUBTITLE INDEX			PAGE


B,.T B,.PHKY
<_.SBTTLS-CI	-C .UA L
-2C<.-QA-49"G ODONE' I.> !DONE! QA,.T QA,.P
0L K JSPAGES-C .UA  L QA,.T QA,.P ;>

	THIS INDEX IS ALSO STORED IN FILE - HKGBHTHK
EX
