!	THIS IS A TECO MACRO TO CONVERT TABS TO SPACES
	CALL IT WITH:	.MUNG TAB,FILE.EX	!

J HXZHK@I'EB'-CGZHXZ HK MZY
J<<FS       	>
<FS      	>
<FS     	>
<FS    	>
<FS   	>
<FS  	>
<FS
 
>
P "L OEXIT'>!EXIT!EX
