
# UCF for Digilen DigiLab 2E


# Fixed pins on the DigiLab 2E board

NET "clkin" LOC = "p80"  ;
NET "clkin" IOSTANDARD = LVTTL;

NET "pbutton" LOC = "P77"  ;
NET "pbutton" IOSTANDARD = LVTTL;

NET "led" LOC = "P69" ;
NET "led" IOSTANDARD = LVTTL;

# Parallel Port 

NET "PPstrobe" LOC = "p206"  ;
NET "PPstrobe" IOSTANDARD = LVTTL;
NET "PPdata<7>" LOC = "p5"  ;
NET "PPdata<7>" IOSTANDARD = LVTTL;
NET "PPdata<6>" LOC = "p6"  ;
NET "PPdata<6>" IOSTANDARD = LVTTL;
NET "PPdata<5>" LOC = "p7"  ;
NET "PPdata<5>" IOSTANDARD = LVTTL;
NET "PPdata<4>" LOC = "p8"  ;
NET "PPdata<4>" IOSTANDARD = LVTTL;
NET "PPdata<3>" LOC = "p9"  ;
NET "PPdata<3>" IOSTANDARD = LVTTL;
NET "PPdata<2>" LOC = "p10"  ;
NET "PPdata<2>" IOSTANDARD = LVTTL;
NET "PPdata<1>" LOC = "p11"  ;
NET "PPdata<1>" IOSTANDARD = LVTTL;
NET "PPdata<0>" LOC = "p15"  ;
NET "PPdata<0>" IOSTANDARD = LVTTL;
NET "PPbusy" LOC = "p3"  ;
NET "PPbusy" IOSTANDARD = LVTTL;

# RS232

# NET "RS232CTS" LOC = "p199" ;
# NET "RS232CTS" IOSTANDARD = LVTTL;
NET "RS232RxD" LOC = "p202" ;
NET "RS232RxD" IOSTANDARD = LVTTL;
NET "RS232TxD" LOC = "p201" ;
NET "RS232TxD" IOSTANDARD = LVTTL;
# NET "RS232CTS" LOC = "p199" ;
# NET "RS232CTS" IOSTANDARD = LVTTL;
# NET "RS232DSR" LOC = "p200" ;
# NET "RS232DSR" IOSTANDARD = LVTTL;


#DigiLab DIO1 board

# VGA 

NET "vgavsync" LOC = "p194";		# A38
NET "vgavsync" IOSTANDARD = LVTTL;
NET "vgahsync" LOC = "p193"  ;		# A36   
NET "vgahsync" IOSTANDARD = LVTTL;
NET "vgablue0" LOC = "p192"  ;		# A31
NET "vgablue0" IOSTANDARD = LVTTL;
NET "vgagreen0" LOC = "p191"  ;		# A33
NET "vgagreen0" IOSTANDARD = LVTTL;
NET "vgared0" LOC = "p189"  ;		# A35
NET "vgared0" IOSTANDARD = LVTTL;

# PS/2 Keyboard connector

NET "ps2kbclk" LOC = "p187"  ;		# A34
NET "ps2kbclk" IOSTANDARD = LVTTL;
NET "ps2kbdata" LOC = "p188"  ;		# A32
NET "ps2kbdata" IOSTANDARD = LVTTL;

# Switches

NET "DIP_SW1<1>" LOC = "p17" ;		# B2
NET "DIP_SW1<1>" IOSTANDARD = LVTTL;
NET "DIP_SW1<2>" LOC = "p20" ;		# B4
NET "DIP_SW1<2>" IOSTANDARD = LVTTL;
NET "DIP_SW1<3>" LOC = "p22" ;		# B6
NET "DIP_SW1<3>" IOSTANDARD = LVTTL;
NET "DIP_SW1<4>" LOC = "p24" ;		# B8
NET "DIP_SW1<4>" IOSTANDARD = LVTTL;
NET "DIP_SW1<5>" LOC = "p29" ;		# B10
NET "DIP_SW1<5>" IOSTANDARD = LVTTL;
NET "DIP_SW1<6>" LOC = "p31" ;		# B12
NET "DIP_SW1<6>" IOSTANDARD = LVTTL;
NET "DIP_SW1<7>" LOC = "p34" ;		# B14
NET "DIP_SW1<7>" IOSTANDARD = LVTTL;
NET "DIP_SW1<8>" LOC = "p36" ;		# B16
NET "DIP_SW1<8>" IOSTANDARD = LVTTL;


# LED display

# NET "BLEDS<0>" LOC = "P102";		# B22
# NET "BLEDS<0>" IOSTANDARD = LVTTL;
# NET "BLEDS<1>" LOC = "P101";		# B24
# NET "BLEDS<1>" IOSTANDARD = LVTTL;
# NET "BLEDS<2>" LOC = "P100";		# B26
# NET "BLEDS<2>" IOSTANDARD = LVTTL;
# NET "BLEDS<3>" LOC = "P99";		# B28
# NET "BLEDS<3>" IOSTANDARD = LVTTL;
# NET "BLEDS<4>" LOC = "P98";		# B30
# NET "BLEDS<4>" IOSTANDARD = LVTTL;
# NET "BLEDS<5>" LOC = "P97";		# B32
# NET "BLEDS<5>" IOSTANDARD = LVTTL;
# NET "BLEDS<6>" LOC = "P96";		# B34
# NET "BLEDS<6>" IOSTANDARD = LVTTL;
# NET "BLEDS<7>" LOC = "P95";		# B36
# NET "BLEDS<7>" IOSTANDARD = LVTTL;

# 7 Segment display

# NET "DIGIT<1>" LOC = "P95";		# B21
# NET "DIGIT<1>" IOSTANDARD = LVTTL;
# NET "DIGIT<2>" LOC = "P95";		# B23
# NET "DIGIT<2>" IOSTANDARD = LVTTL;
# NET "DIGIT<3>" LOC = "P95";		# B25
# NET "DIGIT<3>" IOSTANDARD = LVTTL;
# NET "DIGIT<4>" LOC = "P95";		# B27
# NET "DIGIT<4>" IOSTANDARD = LVTTL;
# NET "SEG<0>" LOC = "P95";		# Segment A : B1
# NET "SEG<0>" IOSTANDARD = LVTTL;
# NET "SEG<1>" LOC = "P95";		# Segment B : B3
# NET "SEG<1>" IOSTANDARD = LVTTL;
# NET "SEG<2>" LOC = "P95";		# Segment C : B5
# NET "SEG<2>" IOSTANDARD = LVTTL;
# NET "SEG<3>" LOC = "P95";		# Segment D : B7
# NET "SEG<3>" IOSTANDARD = LVTTL;
# NET "SEG<4>" LOC = "P95";		# Segment E : B9
# NET "SEG<4>" IOSTANDARD = LVTTL;
# NET "SEG<5>" LOC = "P95";		# Segment F : B11
# NET "SEG<5>" IOSTANDARD = LVTTL;
# NET "SEG<6>" LOC = "P95";		# Segment G : B13
# NET "SEG<6>" IOSTANDARD = LVTTL;
# NET "SEG<7>" LOC = "P95";		# Segment DP: B15
# NET "SEG<7>" IOSTANDARD = LVTTL;

# Buttons 

# NET "BUTTON<1>" LOC = "P95";		# B18
# NET "BUTTON<1>" IOSTANDARD = LVTTL;
# NET "BUTTON<2>" LOC = "P95";		# B17
# NET "BUTTON<2>" IOSTANDARD = LVTTL;
# NET "BUTTON<3>" LOC = "P95";		# B20
# NET "BUTTON<3>" IOSTANDARD = LVTTL;
# NET "BUTTON<4>" LOC = "P95";		# B19
# NET "BUTTON<4>" IOSTANDARD = LVTTL;


