
# UCF for Trenz TE-XC2SE

# Fixed pins on the Trenz TE-XC2SE board

NET "pbutton" LOC = "P15"  ;
NET "pbutton" IOSTANDARD = LVTTL;

#NET "clk25" LOC = "b8"  ;
#NET "clk25" IOSTANDARD = LVTTL;

NET "clk48" LOC = "t9"  ;
NET "clk48" IOSTANDARD = LVTTL;

NET "led" LOC = "C15" ;			# C15
NET "led" IOSTANDARD = LVTTL;

# VGA connector

NET "vgavsync" LOC = "a10";		# A10
NET "vgavsync" IOSTANDARD = LVTTL;
NET "vgahsync" LOC = "b10"  ;		# B10
NET "vgahsync" IOSTANDARD = LVTTL;
NET "vgablue0" LOC = "d11"  ;		# D11
NET "vgablue0" IOSTANDARD = LVTTL;
NET "vgablue1" LOC = "c11"  ;		# C11
NET "vgablue1" IOSTANDARD = LVTTL;
NET "vgagreen0" LOC = "b11"  ;		# B11
NET "vgagreen0" IOSTANDARD = LVTTL;
NET "vgagreen1" LOC = "a11"  ;		# A11
NET "vgagreen1" IOSTANDARD = LVTTL;
NET "vgared0" LOC = "c10"  ;		# C10
NET "vgared0" IOSTANDARD = LVTTL;
NET "vgared1" LOC = "d10"  ;		# D10
NET "vgared1" IOSTANDARD = LVTTL;


# NET "RS232CTS" LOC = "p176" ;
# NET "RS232CTS" IOSTANDARD = LVTTL;
NET "RS232RxD" LOC = "c12" ;		# C12
NET "RS232RxD" IOSTANDARD = LVTTL;
NET "RS232TxD" LOC = "b13" ;		# B13
NET "RS232TxD" IOSTANDARD = LVTTL;
# NET "RS232CTS" LOC = "p180" ;
# NET "RS232CTS" IOSTANDARD = LVTTL;

#NET "PPstrobe" LOC = "p181"  ;		# 	PP 1
#NET "PPstrobe" IOSTANDARD = LVTTL;
#NET "PPbusy" LOC = "p204"  ;		# 	PP 11
#NET "PPbusy" IOSTANDARD = LVTTL;
NET "PPdata<7>" LOC = "g12"  ;		# G12	PP 9
NET "PPdata<7>" IOSTANDARD = LVTTL;
NET "PPdata<6>" LOC = "f13"  ;		# F13	PP 8
NET "PPdata<6>" IOSTANDARD = LVTTL;
NET "PPdata<5>" LOC = "f12"  ;		# F12	PP 7
NET "PPdata<5>" IOSTANDARD = LVTTL;
NET "PPdata<4>" LOC = "e14"  ;		# E14	PP 6
NET "PPdata<4>" IOSTANDARD = LVTTL;
NET "PPdata<3>" LOC = "e13"  ;		# E13	PP 5
NET "PPdata<3>" IOSTANDARD = LVTTL;
NET "PPdata<2>" LOC = "d15"  ;		# D15	PP 4
NET "PPdata<2>" IOSTANDARD = LVTTL;
NET "PPdata<1>" LOC = "d14"  ;		# D14	PP 3
NET "PPdata<1>" IOSTANDARD = LVTTL;
NET "PPdata<0>" LOC = "c16"  ;		# C16	PP 2
NET "PPdata<0>" IOSTANDARD = LVTTL;


# Connectors A-B : SRAM A = J2, B = J1

NET "SRAM_BLE" LOC = "k14"  ;			# K14
NET "SRAM_BLE" IOSTANDARD = LVTTL;
NET "SRAM_BHE" LOC = "l15"  ;			# L15
NET "SRAM_BHE" IOSTANDARD = LVTTL;
NET "SRAM_OE" LOC = "l14"  ;			# L14
NET "SRAM_OE" IOSTANDARD = LVTTL;
NET "SRAM_CS" LOC = "m13"  ;			# M13
NET "SRAM_CS" IOSTANDARD = LVTTL;
NET "WE" LOC = "r9"  ;				# R9
NET "WE" IOSTANDARD = LVTTL;

NET "SRAMaddress<16>" LOC = "r10"  ;		# R10
NET "SRAMaddress<16>" IOSTANDARD = LVTTL;
NET "SRAMaddress<15>" LOC = "t11"  ;		# T11
NET "SRAMaddress<15>" IOSTANDARD = LVTTL;
NET "SRAMaddress<14>" LOC = "r11"  ;		# R11
NET "SRAMaddress<14>" IOSTANDARD = LVTTL;
NET "SRAMaddress<13>" LOC = "p12"  ;		# P12
NET "SRAMaddress<13>" IOSTANDARD = LVTTL;
NET "SRAMaddress<12>" LOC = "t12"  ;		# T12
NET "SRAMaddress<12>" IOSTANDARD = LVTTL;
NET "SRAMaddress<11>" LOC = "r12"  ;		# R12
NET "SRAMaddress<11>" IOSTANDARD = LVTTL;
NET "SRAMaddress<10>" LOC = "p11"  ;		# P11
NET "SRAMaddress<10>" IOSTANDARD = LVTTL;
NET "SRAMaddress<9>" LOC = "t13"  ;		# T13
NET "SRAMaddress<9>" IOSTANDARD = LVTTL;
NET "SRAMaddress<8>" LOC = "r13"  ;		# R13
NET "SRAMaddress<8>" IOSTANDARD = LVTTL;
NET "SRAMaddress<7>" LOC = "m11"  ;		# M11
NET "SRAMaddress<7>" IOSTANDARD = LVTTL;
NET "SRAMaddress<6>" LOC = "p13"  ;		# P13
NET "SRAMaddress<6>" IOSTANDARD = LVTTL;
NET "SRAMaddress<5>" LOC = "n12"  ;		# N12
NET "SRAMaddress<5>" IOSTANDARD = LVTTL;
NET "SRAMaddress<4>" LOC = "n11"  ;		# N11
NET "SRAMaddress<4>" IOSTANDARD = LVTTL;
NET "SRAMaddress<3>" LOC = "n10"  ;		# N10
NET "SRAMaddress<3>" IOSTANDARD = LVTTL;
NET "SRAMaddress<2>" LOC = "m10"  ;		# M10
NET "SRAMaddress<2>" IOSTANDARD = LVTTL;
NET "SRAMaddress<1>" LOC = "t10"  ;		# T10
NET "SRAMaddress<1>" IOSTANDARD = LVTTL;
#NET "SRAMaddress<0>" LOC = "p24"  ;
#NET "SRAMaddress<0>" IOSTANDARD = LVTTL;

NET "sramdata<0>" LOC = "b16"  ;		# B16
NET "sramdata<0>" IOSTANDARD = LVTTL;
NET "sramdata<1>" LOC = "e15"  ;		# E15
NET "sramdata<1>" IOSTANDARD = LVTTL;
NET "sramdata<2>" LOC = "f14"  ;		# F14
NET "sramdata<2>" IOSTANDARD = LVTTL;
NET "sramdata<3>" LOC = "g15"  ;		# G15
NET "sramdata<3>" IOSTANDARD = LVTTL;
NET "sramdata<4>" LOC = "j14"  ;		# J14
NET "sramdata<4>" IOSTANDARD = LVTTL;
NET "sramdata<5>" LOC = "l13"  ;		# L13
NET "sramdata<5>" IOSTANDARD = LVTTL;
NET "sramdata<6>" LOC = "l16"  ;		# L16
NET "sramdata<6>" IOSTANDARD = LVTTL;
NET "sramdata<7>" LOC = "p16"  ;		# P16
NET "sramdata<7>" IOSTANDARD = LVTTL;
NET "sramdata<8>" LOC = "k15"  ;		# K15
NET "sramdata<8>" IOSTANDARD = LVTTL;
NET "sramdata<9>" LOC = "k16"  ;		# K16
NET "sramdata<9>" IOSTANDARD = LVTTL;
NET "sramdata<10>" LOC = "l12"  ;		# L12
NET "sramdata<10>" IOSTANDARD = LVTTL;
NET "sramdata<11>" LOC = "k12"  ;		# K12
NET "sramdata<11>" IOSTANDARD = LVTTL;
NET "sramdata<12>" LOC = "k13"  ;		# K13
NET "sramdata<12>" IOSTANDARD = LVTTL;
NET "sramdata<13>" LOC = "j15"  ;		# J15
NET "sramdata<13>" IOSTANDARD = LVTTL;
NET "sramdata<14>" LOC = "j16"  ;		# J16
NET "sramdata<14>" IOSTANDARD = LVTTL;
NET "sramdata<15>" LOC = "j13"  ;		# J13
NET "sramdata<15>" IOSTANDARD = LVTTL;

