
NET "Pbutton" LOC = "P61"  ;
NET "Pbutton" IOSTANDARD = LVTTL;

NET "LED" LOC = "P49"  ;
NET "LED" IOSTANDARD = LVTTL;


NET "clkin" LOC = "p77"  ;
NET "clkin" IOSTANDARD = LVTTL;

NET "vgahsync" LOC = "p134"  ;
NET "vgahsync" IOSTANDARD = LVTTL;
NET "vgavsync" LOC = "p136"  ;
NET "vgavsync" IOSTANDARD = LVTTL;
NET "vgablue0" LOC = "p139"  ;
NET "vgablue0" IOSTANDARD = LVTTL;
NET "vgagreen0" LOC = "p141"  ;
NET "vgagreen0" IOSTANDARD = LVTTL;
NET "vgared0" LOC = "p146"  ;
NET "vgared0" IOSTANDARD = LVTTL;

NET "ps2kbclk" LOC = "p148"  ;
NET "ps2kbclk" IOSTANDARD = LVTTL;
NET "ps2kbdata" LOC = "p150"  ;
NET "ps2kbdata" IOSTANDARD = LVTTL;

NET "Rs232txd" LOC = "p152" ;
NET "RS232txd" IOSTANDARD = LVTTL;
NET "RS232rxd" LOC = "p154" ;
NET "RS232rxd" IOSTANDARD = LVTTL;

#NET "tty1txd" LOC = "p" ;
#NET "tty1txd" IOSTANDARD = LVTTL;
#NET "tty1rxd" LOC = "p" ;
#NET "tty1rxd" IOSTANDARD = LVTTL;

NET "DIP_SW1<1>" LOC = "p133" ;
NET "DIP_SW1<1>" IOSTANDARD = LVTTL;
NET "DIP_SW1<2>" LOC = "p151" ;
NET "DIP_SW1<2>" IOSTANDARD = LVTTL;
NET "DIP_SW1<3>" LOC = "p149" ;
NET "DIP_SW1<3>" IOSTANDARD = LVTTL;
NET "DIP_SW1<4>" LOC = "p147" ;
NET "DIP_SW1<4>" IOSTANDARD = LVTTL;
NET "DIP_SW1<5>" LOC = "p142" ;
NET "DIP_SW1<5>" IOSTANDARD = LVTTL;
NET "DIP_SW1<6>" LOC = "p140" ;
NET "DIP_SW1<6>" IOSTANDARD = LVTTL;
NET "DIP_SW1<7>" LOC = "p138" ;
NET "DIP_SW1<7>" IOSTANDARD = LVTTL;
NET "DIP_SW1<8>" LOC = "p135" ;
NET "DIP_SW1<8>" IOSTANDARD = LVTTL;

NET "PPbusy" LOC = "p21"  ;
NET "PPbusy" IOSTANDARD = LVTTL;
NET "PPstrobe" LOC = "p3"  ;
NET "PPstrobe" IOSTANDARD = LVTTL;
NET "PPdata<7>" LOC = "p18"  ;
NET "PPdata<7>" IOSTANDARD = LVTTL;
NET "PPdata<6>" LOC = "p17"  ;
NET "PPdata<6>" IOSTANDARD = LVTTL;
NET "PPdata<5>" LOC = "p16"  ;
NET "PPdata<5>" IOSTANDARD = LVTTL;
NET "PPdata<4>" LOC = "p15"  ;
NET "PPdata<4>" IOSTANDARD = LVTTL;
NET "PPdata<3>" LOC = "p14"  ;
NET "PPdata<3>" IOSTANDARD = LVTTL;
NET "PPdata<2>" LOC = "p9"  ;
NET "PPdata<2>" IOSTANDARD = LVTTL;
NET "PPdata<1>" LOC = "p7"  ;
NET "PPdata<1>" IOSTANDARD = LVTTL;
NET "PPdata<0>" LOC = "p5"  ;
NET "PPdata<0>" IOSTANDARD = LVTTL;

#NET "dramras" LOC = "p178"  ;
#NET "dramras" IOSTANDARD = LVTTL;
#NET "dramwe" LOC = "p180"  ;
#NET "dramwe" IOSTANDARD = LVTTL;
#NET "dramcas" LOC = "p204"  ;
#NET "dramcas" IOSTANDARD = LVTTL;

#NET "dramaddr<11>" LOC = "P206"  ;
#NET "dramaddr<11>" IOSTANDARD = LVTTL;
#NET "dramaddr<10>" LOC = "p175"  ;
#NET "dramaddr<10>" IOSTANDARD = LVTTL;
#NET "dramaddr<9>" LOC = "p202"  ;
#NET "dramaddr<9>" IOSTANDARD = LVTTL;
#NET "dramaddr<8>" LOC = "p200"  ;
#NET "dramaddr<8>" IOSTANDARD = LVTTL;
#NET "dramaddr<7>" LOC = "p195"  ;
#NET "dramaddr<7>" IOSTANDARD = LVTTL;
#NET "dramaddr<6>" LOC = "p164"  ;
#NET "dramaddr<6>" IOSTANDARD = LVTTL;
#NET "dramaddr<5>" LOC = "p162"  ;
#NET "dramaddr<5>" IOSTANDARD = LVTTL;
#NET "dramaddr<4>" LOC = "p168"  ;
#NET "dramaddr<4>" IOSTANDARD = LVTTL;
#NET "dramaddr<3>" LOC = "p166"  ;
#NET "dramaddr<3>" IOSTANDARD = LVTTL;
#NET "dramaddr<2>" LOC = "p160"  ;
#NET "dramaddr<2>" IOSTANDARD = LVTTL;
#NET "dramaddr<1>" LOC = "p173"  ;
#NET "dramaddr<1>" IOSTANDARD = LVTTL;
#NET "dramaddr<0>" LOC = "p175"  ;
#NET "dramaddr<0>" IOSTANDARD = LVTTL;

#NET "dramdata<0>" LOC = "p205"  ;
#NET "dramdata<0>" IOSTANDARD = LVTTL;
#NET "dramdata<1>" LOC = "p203"  ;
#NET "dramdata<1>" IOSTANDARD = LVTTL;
#NET "dramdata<2>" LOC = "p201"  ;
#NET "dramdata<2>" IOSTANDARD = LVTTL;
#NET "dramdata<3>" LOC = "p199"  ;
#NET "dramdata<3>" IOSTANDARD = LVTTL;
#NET "dramdata<4>" LOC = "p194"  ;
#NET "dramdata<4>" IOSTANDARD = LVTTL;
#NET "dramdata<5>" LOC = "p192"  ;
#NET "dramdata<5>" IOSTANDARD = LVTTL;
#NET "dramdata<6>" LOC = "p189"  ;
#NET "dramdata<6>" IOSTANDARD = LVTTL;
#NET "dramdata<7>" LOC = "p187"  ;
#NET "dramdata<7>" IOSTANDARD = LVTTL;
#NET "dramdata<8>" LOC = "p179"  ;
#NET "dramdata<8>" IOSTANDARD = LVTTL;
#NET "dramdata<9>" LOC = "p176"  ;
#NET "dramdata<9>" IOSTANDARD = LVTTL;
#NET "dramdata<10>" LOC = "p174"  ;
#NET "dramdata<10>" IOSTANDARD = LVTTL;
#NET "dramdata<11>" LOC = "p172"  ;
#NET "dramdata<11>" IOSTANDARD = LVTTL;
#NET "dramdata<12>" LOC = "p167"  ;
#NET "dramdata<12>" IOSTANDARD = LVTTL;
#NET "dramdata<13>" LOC = "p165"  ;
#NET "dramdata<13>" IOSTANDARD = LVTTL;
#NET "dramdata<14>" LOC = "p163"  ;
#NET "dramdata<14>" IOSTANDARD = LVTTL;
#NET "dramdata<15>" LOC = "p161"  ;
#NET "dramdata<15>" IOSTANDARD = LVTTL;

#NET "drampw<0>" LOC = "p193"  ;
#NET "drampw<0>" IOSTANDARD = LVTTL;
#NET "drampw<1>" LOC = "p191"  ;
#NET "drampw<1>" IOSTANDARD  = LVTTL;
#NET "drampr<0>" LOC = "p188"  ;
#NET "drampr<0>" IOSTANDARD = LVTTL;
#NET "drampr<1>" LOC = "p181"  ;
#NET "drampr<1>" IOSTANDARD = LVTTL;

NET "sramwe" LOC = "p205"  ;
NET "sramwe" IOSTANDARD = LVTTL;
NET "sramoe" LOC = "p192"  ;
NET "sramoe" IOSTANDARD = LVTTL;

NET "SRAMaddress<14>" LOC = "P187"  ;
NET "SRAMaddress<14>" IOSTANDARD = LVTTL;
NET "SRAMaddress<13>" LOC = "P181"  ;
NET "SRAMaddress<13>" IOSTANDARD = LVTTL;
NET "SRAMaddress<12>" LOC = "P188"  ;
NET "SRAMaddress<12>" IOSTANDARD = LVTTL;
NET "SRAMaddress<11>" LOC = "P191"  ;
NET "SRAMaddress<11>" IOSTANDARD = LVTTL;
NET "SRAMaddress<10>" LOC = "p193"  ;
NET "SRAMaddress<10>" IOSTANDARD = LVTTL;
NET "SRAMaddress<9>" LOC = "p195"  ;
NET "SRAMaddress<9>" IOSTANDARD = LVTTL;
NET "SRAMaddress<8>" LOC = "p200"  ;
NET "SRAMaddress<8>" IOSTANDARD = LVTTL;
NET "SRAMaddress<7>" LOC = "p202"  ;
NET "SRAMaddress<7>" IOSTANDARD = LVTTL;
NET "SRAMaddress<6>" LOC = "p201"  ;
NET "SRAMaddress<6>" IOSTANDARD = LVTTL;
NET "SRAMaddress<5>" LOC = "p199"  ;
NET "SRAMaddress<5>" IOSTANDARD = LVTTL;
NET "SRAMaddress<4>" LOC = "p189"  ;
NET "SRAMaddress<4>" IOSTANDARD = LVTTL;
NET "SRAMaddress<3>" LOC = "p194"  ;
NET "SRAMaddress<3>" IOSTANDARD = LVTTL;
NET "SRAMaddress<2>" LOC = "p204"  ;
NET "SRAMaddress<2>" IOSTANDARD = LVTTL;
NET "SRAMaddress<1>" LOC = "p203"  ;
NET "SRAMaddress<1>" IOSTANDARD = LVTTL;
NET "SRAMaddress<0>" LOC = "p206"  ;
NET "SRAMaddress<0>" IOSTANDARD = LVTTL;

NET "sramdata<0>" LOC = "p175"  ;
NET "sramdata<0>" IOSTANDARD = LVTTL;
NET "sramdata<1>" LOC = "p173"  ;
NET "sramdata<1>" IOSTANDARD = LVTTL;
NET "sramdata<2>" LOC = "p168"  ;
NET "sramdata<2>" IOSTANDARD = LVTTL;
NET "sramdata<3>" LOC = "p180"  ;
NET "sramdata<3>" IOSTANDARD = LVTTL;
NET "sramdata<4>" LOC = "p172"  ;
NET "sramdata<4>" IOSTANDARD = LVTTL;
NET "sramdata<5>" LOC = "p174"  ;
NET "sramdata<5>" IOSTANDARD = LVTTL;
NET "sramdata<6>" LOC = "p176"  ;
NET "sramdata<6>" IOSTANDARD = LVTTL;
NET "sramdata<7>" LOC = "p179"  ;
NET "sramdata<7>" IOSTANDARD = LVTTL;
NET "sramdata<8>" LOC = "p164"  ;
NET "sramdata<8>" IOSTANDARD = LVTTL;
NET "sramdata<9>" LOC = "p162"  ;
NET "sramdata<9>" IOSTANDARD = LVTTL;
NET "sramdata<10>" LOC = "p160"  ;
NET "sramdata<10>" IOSTANDARD = LVTTL;
NET "sramdata<11>" LOC = "p161"  ;
NET "sramdata<11>" IOSTANDARD = LVTTL;
NET "sramdata<12>" LOC = "p163"  ;
NET "sramdata<12>" IOSTANDARD = LVTTL;
NET "sramdata<13>" LOC = "p165"  ;
NET "sramdata<13>" IOSTANDARD = LVTTL;
NET "sramdata<14>" LOC = "p167"  ;
NET "sramdata<14>" IOSTANDARD = LVTTL;
NET "sramdata<15>" LOC = "p178"  ;
NET "sramdata<15>" IOSTANDARD = LVTTL;


