0UC0U2Y
!LOOP!
0A-136"EOUPARROW'
0A-100"EOATSIGN'
0A-140"EOACCENT'
0A-137"EOUNDER'
0A-176"EOTILDE'
0A-15"EORETURN'
0A"EONEXT2'
0A&140"EDRONEXT'
0A&140-100"EOUPPER'
0A&140-140"EOLOWER'
ONEXT
!ATSIGN!DI^&RONEXT
!ACCENT!DI^'RONEXT
!UNDER!DI^%RONEXT
!TILDE!DI^$RONEXT
!RETURN!DI
R%2=
ONEXT
!UPARROW!I^ONEXT
!UPPER!QC&1"N%CI^R'ONEXT
!LOWER!QC&1"E%CI^R'ONEXT
!NEXT2!:N"EEX'ROLOOP
!NEXT!:N"EEX'OLOOP