!TECO MACRO FILES
SYNTAX MUNG FILES,TEMP,MACRO
TEMP IS DIRECTORY.DI
MACRO IS TECO MACRO .TE
Q REGISTER UASAGE:
A	TEMPORAY
B	EBFILE
M	MACRO PLACED HERE
N	FILE NAME+SIZES ETC HERE
R	ERFILE
T	TEMPORARY
W	EW FILE
Y	USED
Z	DIRECTORY
!
Z"ENO INFORMATION !^C'
J :S,"EITEMP.DI,'JS .,ZXA R.,ZK
J:S."EZJI.DI'J IER ZJ @I// HXT !OK DIRECTORY FILE READY!
HK GA:S."EZJI.TEJ IER ZJ @I++ HXA
!OK FETCH THE FILES !
MA Y HXM
MT Y HXZ
!NOW LOOP FOR THE FILES!
< HK GZJ  S.0L0,.K 
L0,.XN 0,.K HXZ HK GN J
 JS 2C @I++ .,ZK
J<S -D>
IEWHXW
-DIRHXR
-DIBHXB
 HK MM >
EX
