!^  MAY   25    1976
THIS IS A TECO MACRO TO CREATE THE HELP FILES
ETOS VERSIONS ONLY
THE PART OF THIS FILE FROM NAME.HL TO ******* IS MADE INTO A FILE
NAME.Hl)!fiRS] G}\4]LosGkum3???}l}?oi~wwwVw?s_9=go|t;w?^uw_yy?7yyq;}^{?d\zGwo!NM ^ A 2 Y 5 1  69 T7SH
S I  ICTAMOERA TOCCO AR  TEETEE H LHLFPEIT
S OERVSOSE NILOS
YNETA H RP OTITFFSHEI R L OFMNMHEATL.*O  J>HT  HK GD IINFO ON:
 EWHELP.HL GN  HPW EF ^C
	SOFTWARE ON ADB
	SYSTEM PROGRAMS ON DISK
	.SV IF NOTHING ELSE STATED

SOFTW.HL

THE FOLLOWING ARE THE MANUALS FOR THE OS/8 SYSTEM.

1	OS/8 HANDBOOK
2	INTRODUCTION TO PROGRAMMING
5	OS/8 SOFT SUPPORT
7	HASSLE STAT MANUAL
8	FILE PROGRAMS
9	SSP MANUAL
16	ETOS USERS GUIDE
*	HELP FILE EXISTS
#	NOT YET AVAILABLE UNDER ETOS
$	CALLABLE BY MONITOR COMMAND


ABSLDR	*$	1
BASIC	*$	1
BATCH	*$	1
BITMAP	*$	1
CREF	*$	1
DIRECT	*$	1
EDIT	*	1
EXPIP	*	8
F4	*$	1
FOTP	*$	1
FUTIL	*	8
OCOMP	$	8
ODT		1
PAL8	$*	1
PIP	*$	1
PRINTR	$	8
RALF	*$	1
RESORC	$	1
SORT		8
SRCCOM	*$	1
TECO	*$	1


PROGRAMS IN FORTRAN OR OS/8 BASIC(O) EX NAME (ADD .EX IF GIVEN)
ETOS BASIC .R BASIC (E).

STAT		8	.LD
TABELL		8	.LD
KSORT		8	.LD
OUTLAY		8	.LD
LESQ.RL		8
******
A)HIGH LEVEL LANGUAGES

BASIC.HL

!!!OBS 2 BASIC VERSIONS!!!

1)ETOS BASIC  R BASIC
  ETOS BASIC MANUAL

2)OS/8 BASIC  EX NAME <PROGRAMS WRITTEN OUTSIDE BASIC>.
 .OS/8 HANDBOOK, P 6-1
 .EXEC PROG.BA

*******
FOCAL
OMSI FOCAL MANUAL
STARTUP OPTIONS:
0	NO FEATURES
1	SIN & COS
2	SIN COS & TAN
3	10 DIGITS
4	FILE COMMANDS
5	SPACE IN TYPE
6	=
7	:
8	& INSTEAD OF E
9	2+3+4

'YES'=2+3+4+5

STANDARD WITH STAT USE 4+5.
*******
FORT
OS/8 MANUAL PAGE 7-1
<N.B. FORT II IS NOT A SYSTEM PROGRAM AS OF APRIL-74>.
.R FORT
*BINARY.RL,LISTING.RL,MAP.MP<SOURCE.FT...

/G	GO
/K	KEEP FORTRN.TM
/L	LOAD
*****
FORTRAN.HL

MANUAL OS/8 HANDBOOK CHAPTER 8.

.EX PROG		(.FT,.RL,OR .LD)
.EX PROG1,PROG2		(ONLY .RL)
*FILES			(ACCORDING TO DESCRIPTION)
*$			(ALTMODE)

COMPILING ETC (SHORT SUMMARY)

.EXEC [LIST.LS,LOADIM.LD,MAP.LS<]SOURCE.FT...
.COMP SOURCE[-T;-L]

COMPILER
/M	ONLY LIST LINES WITH ERROR
/N	NO LINE NUMBERS
/A	NO ASSEMBLY

	RALF ASSEMBLER
/L	LOAD
/G	LOAD AND CALL FRTS	ALTMODE=NO DEV SPEC
	LOAD
/G	LOAD FINISHED
	FRTS
/#	DEVICES
/C	CARRIAGE CONTROL
******
PROGRAMMING SUPPORTS(ASSEMBLERS LOADERS)
1)LOADERS
ABSLDR
MANUAL OS/8 HANDBOOK PAGE 1-108
.LOAD BINARY.BN,...

/8	PROG DOESN'T USE BELOW 02000
/9	PROG DOESN'T USE BELOW 12000
/G	GO
/I	CORE IMAGE FILE
/P	PROG DOESN'T DESTROY EXTENDED BATCH RESIDENT
/R	RESET
/S	MULTIPLE BINARIES/FILE
/N	FORCE LOADING TO FIELD N (N IS AN OCTAL DIGIT)
=NNNNN	SET STARTING ADDRESS
******
LOAD.HL

LOAD THE FIV LOADER.

MANUAL OS/8 HANDBOOK PAGE 8-20.


.LOAD [IMAGE.LD,]MAP.MP<BINARY.RL...[-T]

/C	MORE INPUT TO LOAD
/D	USER DEVICE SPECIFICATION
/E	CONTINUE ON ERROR
/H	HALT AFTER LOADER
/O	MORE OVERLAYS
/R	RUN TIME SUPPORT
/S	SYMBOL MAP
******
LOADER
LOADER THE FII LOADER
MANUAL OS/8 HANDBOOK PAGE 4-62
.R LOADER
*MAP.MP<FILE.RL,.....

/G	GO
/H	2 PAGE HANDLERS
/I	OS/8 FILE INPUT
/L	1ST INPUT FILE IS LIBRARY FILE
/M	PRODUCE MAP
/O	OS/8 FILE OUTPUT
/P	OUTPUT COUNT OF FREE PAGES
/R	RESET
/U	OUTPUT UNDEFINED SYMBOLS
/N	LOAD IN FIELD N (0-7) OR HIGHER
=N	SET STARTING ADDRESS
********
2)ASSEMBLERS 

PAL8

MANUAL OS/8 HANDBOOK CHAPTER 3.
*******

.PAL BINARY.BN,LISTNG.LS<SOURCE.PA,...
.PAL BINARY.BN<CSfnSv/nS-\Iwt_O>V]=__}OM~{wow~_y}}^k_M[?}{>o_}?[ueuz1k2}Tlt}vucxuH}s?{6r?ZN{ E	ASTIRT NTDAGSRD
SE*******2
*S)MSAEBE RL
SP8A
LA

ANMOLU8S A /BNHKODH OTAC EP3R*
.*****

*A.BLPAI .RN,BYSLNGTIS.NSTLLINES CONDITIONALIZED OUT
/K	USE EXTRA CORE
/L	LOAD
/N	NO LISTING
/O	DISABLE ORIGIN 200 AFTER FIELD
/S	NO SYMBOL TABLE
/T	NO FORM FEEDS
/W	DON'T REMEMBER LITERALS

ERRORS:

BE	TABLES OVERLAPPED
DE	DEVICE ERROR
DF	DEVICE FULL
IC	ILLEGAL CHARACTER
ID	ILLEGAL REDEFINITION
IE	ILLEGAL EQUALS
II	ILLEGAL INDIRECT
IP	ILLEGAL PSEUDO-OP
IZ	ILLEGAL PAGE ZERO REF
LD	SYS:ABSLDR.SV NOT FOUND
LG	LINK GENERATED
PE	PAGE EXCEEDED
PH	END OF SOURCE CONDITIONALIZED OUT
RD	REDEFINITION
SE	SYMBOL TABLE EXCEEDED
UO	UNDEFINED ORIGIN
US	UNDEFINED SYMBOL
ZE	PAGE 0 EXCEEDED
SABR
SABR IS NOT A SYSTEM PROGRAM
MANUAL OS/8 HANDBOOK CHAPTER 4
.R SABR
*BINARY.RL,LISTNG.LS,MAP.MP<FILE.SB,...

/F	INPUT IS FROM FORT
/G	CHAIN TO LOADER AND GO
/L	CHAIN TO LOADER
/N	NO LISTING
/S	NO SYMBOL TABLE

ERRORS:

A	WRONG NO. OF ARG'S
C	BAD CHAR
D	I/O ERROR
E	NO END STMNT
I	ILLEGAL SYNTAX
L	SYS:LOADER.SV NOT FOUND
M	MULTIPLY DEFINED SYMBOL
S	SYMBOL OVERFLOW
U	UNDEFINED SYMBOL
******
FORLIB.HL

COMMENTS TO FORLIB THE FIV LIBRARY.
REFER TO OS/8 HANDBOOK PAGE 8-40.

A)COMPLEX BUT NOT DOUBLE CAN BE USED UNDER ETOS.
B)LAB ROUTINES <TIME CLOCK PLOT ADC REALTM> NOT UNDER ETOS.
  A CLOCK/TIME SUBROUTINE WILL BE AVAILABLE LATER.
C)IGNORE ANY ENTRYPOINTS IN FORLIB PRECEEDED BY #.
D)THE FOLLOWING ENTRYPOINTS ARE NOT IN THE FIV MANUAL.

1)THE SPECIAL ROUTINES

	CALL CMDOPT(I,A)	READS OPTION BIT I TO A
	DO NOT USE E(49,G(6),H(7)
	CALL SWI(6,X)		READS SR INTO BIT 6
	I=ETOS(0)
	CALL ICHAR(A1,I6)
	CALL OCHAR(A1,I6)
	CALL PDATE(UNIT,'TEXT')
	CALL BGET(A,I,L)	BIT I INTO L		ALSO BPUT
	CALL WGET(A,I,L)	WORD I IN A INTO L	ALSO WPUT

2)	THE RANDOM NUMBER GENERATOR
	### RANDOMIZE DOES NOT WORK PROPERLY UNDER ETOS YET###

	CALL RANDU(IX,X)
	GIVES A RANDOM NUMBER (0<X<1)IN X  IX SHOULD BE USED IN FURTHER
	CALLS.

	TO RANDOMIZE SEE MANUAL.

3)	LPLOT IS IN FIV MANUAL (ELECTRONICS ARTICLE)
	NOTE CHANGE IN FIGURE ARGS

4)	NUMINT:
	PERFORMS NUMERICAL INTEGRATION
	CALL NUMINT(N,OUT,X,Y)

5)	FCDF FROM DECUSCOPE
	P=FCDF(F,M,N)
	SETS P=PROBABILITY OF F WITH M,N DEGREES OF FREEDOM

	FOR T SET M=1,F=T*T
	FOR Z SET M=1 N=INFINIT,F=Z*Z
	FOR X-2 SET M=INFINIT,F=X2/NDF

INVERSE FUNCTIONS:

	F=FINV(0.95,DF1,DF2)
	T=TINV(0.95,DF)
	Z=ZINV(0.95)

THE SSP ROUTINES IN THE LIBRARY ARE IN THE SSP MANUAL.
******
2)FILE MOVERS ETC
PIP.HL
MANUAL OS/8 HANDBOOK PAGE 1-97
/A	ASCII MODE
/B	BINARY MODE
/C	ELIM TRAILING BLANKS
/D	DELETE OUTPUT FILE BEFORE TRANSFER
/E	EXTENDED DIRECTORY LISTING
/F	FAST DIRECTORY LISTING
/G	IGNORE ERRORS
/I	IMAGE MODE
/L	LIST DIRECTORY
/O	OK, INHIBITS VERIFICATION MSGS
/S	SQUISH ###ONLY ON DSK###
/T	CONVERT TABS TO SPACES, ETC.
/V	VERSION #
/Y	COPY SYSTEM HEAD
/Z	ZERO OUTPUT DIRECTORY BEFORE TRANSFER
	###ONLY ON DSK###
=NN	# OF ADDITIONAL INFO WORDS (/Z OR /S)
=NN	SIZE TO CLOSE OUTPUT FILE (/I)
******

FUTIL
.R FUTIL
MANUAL IN DECUS PROGRAM FILE
ONE-CHARACTER COMMANDS:   (ALL [N]S--NUMERIC ITEMS--OPTIONAL)
	[L]/	 /	[N]<	[N]>	[N]$	[N]:	[N]"CR"
	[N]"LF"	[N]!	[N]^	[N]_	[L];	[N]-